<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <div class="container">
                <a href="{% url 'Home' %}">Logo</a>
                <a href="{% url 'Home' %}">Home</a>
                <a href="">Crear</a>
                <span>Barra de busqueda</span> <!--Temporal-->
                <a href="">Notificaciones</a>
                <a href="{% url 'Log in' %}">Avatar</a>

            </div>
        </nav>
    </header>
    <section>
        {% block feed %}
            
        {% endblock feed %}
    </section>

    <footer>
        <nav>
            <div>
                <h2>

                    <span>instagram -</span>
                    <span>facebook -</span>
                    <span>twitter -</span>
                    <span>logo -</span>
                    <span>about us</span>
                </h2>
            </div>
        </nav>
    </footer>

</body>
</html>

