{% extends "mascotas_blog/home.html" %}
{% block feed %}

    <h1>Aca iria el feed</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum necessitatibus exercitationem optio modi, nisi, aspernatur, velit soluta vero sunt autem quos dolores illum officiis rerum totam. Pariatur delectus a aliquid!
    Quaerat explicabo odit saepe voluptate! Harum, cupiditate quasi! Provident possimus maxime animi illo tempora quidem corrupti sed? Nesciunt nam, asperiores magni, dignissimos reiciendis possimus quisquam blanditiis eos, minima eaque ad?
    Obcaecati quasi voluptates nisi nihil quo reprehenderit totam ex voluptas laboriosam odit at ad est sed enim, explicabo veritatis cupiditate nobis laborum. Eaque repudiandae eum commodi modi ipsam incidunt suscipit?
    Veniam esse suscipit porro minus voluptate. Nihil, voluptate nostrum pariatur blanditiis, maiores dolorem doloremque aut molestias quasi impedit debitis! Eum neque illum iusto soluta sequi. Itaque earum velit accusamus repellendus.
    Impedit odit fuga nostrum minima tempora facere velit, est nulla atque iste tempore voluptatum ab odio accusamus placeat dolorum dolor non amet nisi sapiente nam! Molestiae quaerat sit debitis dolores!
    </p>

{% endblock feed %}
