{% extends "FeedApp/home.html" %}
{% load static %}
{% block feed %}

    <ul>
        
        {% if post %}

                <li>{{post.id_post}}</li>
                <li>{{post.title}}</li>
                <li>{{post.subtitle}}</li>
                <li>{{post.description}}</li>
                <li>{{post.id_user}}</li>
                <li><img class="post_img"  src="../media/{{post.id_img}}" alt="No se puede mostrar"></li>
                
        {% else %}
            <p>No hay posts disponibles</p>
        {% endif %}

    </ul>

    <a href="{% url 'Posts' %}">
        volver
    </a>
    
{% endblock feed %}