{% extends "mascotas_blog/home.html" %} {% load static %} {% block feed %} {% if post %}

<div class="card" style="width: 90%; transform: translateX(5%)">
	<img
		src="../media/{{post.id_img}}"
		width="400"
		class="card-img-top post_image"
		alt="No se puede mostrar" />
	<div class="card-body">
		<h5 class="card-title">{{post.title}}</h5>
		<p class="card-text">{{post.description}}</p>
		<a href="#{# {% url 'User' {{post.id_user}} %} #}" class="card-link">Owner</a>
	</div>
</div>

{% else %}
<p>No hay posts disponibles</p>
{% endif %} {% endblock feed %}
