{% extends "mascotas_blog/home.html" %} {% load static %} {% block feed %} {% if post %}

<div class="overflow-y-auto">
	<div class="card shadow-sm m-3">
		<div class="row g-0">
			<div class="col-6">
				<img
					src="{{post.id_img.url}}"
					class="card-img-top post_image"
					alt="No se puede mostrar" />
			</div>
			<div class="col-6">
				<div class="card-body">
					<img
						class="rounded-circle"
						src="{% if post.id_user.avatar %}{{ post.id_user.avatar.url }}{% else %}{% static 'assets/icons/person.svg' %}{% endif %}"
						alt=""
						height="100" />
					<h5 class="card-title h2">{{post.title}}</h5>
					<h5 class="card-title text-muted">{{post.subtitle}}</h5>
					<p class="card-text">{{post.description}}</p>
					<a href="{% url 'Owner' user=post.id_user.id %}" class="card-link"
						>@{{post.id_user.username}}</a
					>
					<p class="card-text text-muted">{{post.date}}</p>
				</div>
			</div>
		</div>
	</div>

	{% else %}
	<p>No hay posts disponibles</p>
	{% endif %}
</div>
{% endblock feed %}
