{% extends "mascotas_blog/home.html" %} {% load static %}{% block extra_css %}
<link rel="stylesheet" href="{% static 'UserApp/css/styles.css' %}" />
{% endblock extra_css %} {% block feed %}

<h2>Iniciar Sesión</h2>

<form class="pt-5" action="" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>

	<div class="d-flex flex-row justify-content-around align-items-center flex-nowrap">
		<input class="btn btn-primary" type="submit" value="Log In" />
		<a class="btn btn-primary" href="{% url 'Register' %}" role="button">Registrarse</a>
	</div>
</form>

{% endblock feed %}
