{% extends "mascotas_blog/home.html" %} {% load static %}{% block extra_css %}
<link rel="stylesheet" href="{% static 'UserApp/css/styles.css' %}" />
<script src="{% static 'UserApp/js/delete_modal.js' %}"></script>
{% endblock extra_css %} {% block modal_block %}
<div
	class="modal fade"
	id="deletePost"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Advertencia</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% if user == profile %}Cuidado! Seguro que desea borrar este post?{% else %}
				Cuidado! Esta publicacion no es suya. Esta accion se le brinda al ser administrador.
				Usela responsablemente y a conciencia.{% endif %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
				<button
					onClick="getDelete('{% url 'Delete Post' %}')"
					type="button"
					class="btn btn-danger">
					Eliminar
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock modal_block %} {% block feed %}

<div class="overflow-y-scroll">
	<h1>{{profile.get_username}}</h1>
	<p>{{profile.description}}</p>
	<p>{{n_posts}} publicaciones</p>
	<div class="d-flex justify-content-start align-items-center flex-wrap">
		{% if posts %} {% for post in posts %}

		<div class="position-relative">
			<a class="p-2" href="{% url 'Single Post' id_post=post.id_post %}">
				<img class="post_img" src="../media/{{post.id_img}}" alt="No se puede mostrar" />
			</a>
			{% if user == profile or user.is_staff %}
			<button
				type="button"
				class="btn btn-danger rounded-pill position-absolute top-0 end-0 me-2"
				data-bs-toggle="modal"
				data-bs-target="#deletePost"
				onClick="saveDelete({{post.id_post}})">
				-
			</button>
			{% endif %}
		</div>

		{% endfor %} {% else %}
		<p>No hay posts disponibles</p>
		{% endif %}
	</div>
</div>

{% endblock feed %}
