{% extends "mascotas_blog/home.html" %}{% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'UserApp/css/styles.css' %}" />
{% endblock extra_css %} {% block modal_block %}

<div class="modal fade" id="delete-user" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">ADVERTENCIA</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Usted esta a punto de borrar el usuario. Esta accion es <b>permanente</b>.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Cerrar
				</button>
				<a href="{% url 'Delete User' %}" type="button" class="btn btn-danger"
					>Eliminar cuenta</a
				>
			</div>
		</div>
	</div>
</div>
{% endblock modal_block %} {% block feed %}

<div class="overflow-y-scroll">
	<h1>Editar Usuario</h1>
	<div class="d-flex flex-row justify-content-evenly align-items-start flex-nowrap">
		<div class="info">
			<ul class="list-group">
				<li class="list-group-item">Username: {{request.user.get_username}}</li>
				<li class="list-group-item">Mail: {{request.user.email}}</li>
				<li class="list-group-item">Nombre:{{request.user.get_short_name}}</li>
				<li class="list-group-item">Apellido: {{request.user.last_name}}</li>
				<li class="list-group-item">Biografia: {{request.user.description}}</li>
				<button
					type="button"
					class="list-group-item list-group-item-action list-group-item-danger"
					data-bs-toggle="modal"
					data-bs-target="#delete-user">
					Eliminar perfil
				</button>
			</ul>
		</div>
		<div class="edit">
			<form action="" method="POST">
				{% csrf_token %}
				<table>
					{{ edit_form.as_table }}
				</table>
				<input type="Submit" value="Save" />
			</form>
		</div>
	</div>
</div>

{% endblock feed %}
