section {
    height: calc(100vh - 133px);
    translate: 0px 73px;
}

a>img.post_img{
    border-radius: 16px;
    width: 250px;
    height: auto;
}

.card {
    border-radius: 32px;
}

.card img{
    border-radius: 32px 0px 0px 32px;
}