{% extends "mascotas_blog/home.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'ChatApp/css/styles.css' %}" />
{% endblock extra_css %} {% block extra_js %}
<script>
	const element = document.getElementById("chatBox");
	element.scrollTop = element.scrollHeight;
</script>
{% endblock extra_js %} {% block feed %}

<div class="container py-3 px-4 h-100">
	<div class="row rounded-lg shadow h-100">
		<!-- Users box-->
		<div class="col-5 px-0 overflow-y-auto h-100">
			<div class="bg-white">
				<div class="bg-gray px-4 py-2 bg-light">
					<p class="h5 mb-0 py-1">Recent</p>
				</div>

				<div class="messages-box">
					<div class="list-group rounded-0">
						{% for chat in chats %}
						<a
							class="list-group-item list-group-item-action rounded-0 {% block is_active %}{% endblock is_active %}"
							href="{% url 'Single Chat' chat.id_chat %}"
							aria-current="true">
							<div class="media">
								<div
									class="d-flex align-items-center justify-content-start mb-1 gap-4">
									<img
										src="{% if chat.user_1 == user %}{% if chat.user_2.avatar %}{{ chat.user_2.avatar.url }}{% else %}{% static 'assets/icons/person.svg' %}{% endif %}{% else %}{% if chat.user_1.avatar %}{{ chat.user_1.avatar.url }}{% else %}{% static 'assets/icons/person.svg' %}{% endif %}{% endif %}"
										alt="user"
										width="50"
										class="rounded-circle bi bi-person" />
									<h6 class="mb-0">
										{% if chat.user_1 == user %} {{chat.user_2.get_username}}
										{%else %} {{chat.user_1.get_username}} {% endif %}
									</h6>
									<small class="small font-weight-bold">{{chat.last_msg.date}}</small>
								</div>
								<div class="ms-4">
									<p class="font-italic mb-0 text-small">
										{{chat.last_msg.message}}
									</p>
								</div>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!-- Chat Box-->
		<div class="col-7 px-0 h-100">
			<div class="px-0 py-0 chat-box bg-white" id="chatBox">
				{% block conversation %} {% endblock conversation %}
			</div>
		</div>
	</div>
</div>
{% endblock feed %}
